@media screen and (min-width:1024px){
    .hitokoto {

        display: flex;
    
        flex-direction: column;
    
        max-width: 60%;
    
    }
}

@media screen and (max-width:1024px){
    .hitokoto {

        display: flex;
    
        flex-direction: column;
    
        max-width: 91%;
    
    }
}

.hitokoto-text {

    text-align: left;

}

.from {

    text-align: right;

}